<!--Disables browser backward button-->



{% block body %}
    <script type="text/javascript">
        window.history.forward();
    </script>
    <h3 style=" font-size: 30px;text-align: center;font-family: Times New Roman, Georgia, Serif;">Thanks, your choice
        has been submitted</h3>
{% endblock %}